<nav class="navbar navbar-expand-lg navbar-light" id="menu-site">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="assets/Elements/perfil-fundo.jpg" width="40" height="40"
        class="d-inline-block align-top justify-content-lg-center" alt=""></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse m-auto" id="navbarNav">
      <ul class="navbar-nav ml-auto menu-align" id="navbar">
        <li class="nav-item">
          <a class="nav-link ml-3" id="menu-font" href="#">COMO FUNCIONA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ml-3" id="menu-font" href="#">ENTRAR</a>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-lg ml-3" id="contractor-btn"><a href="">Sou
              Prestador</a></button>
        </li>
      </ul>
    </div>
  </div>

</nav>
