<div class="body">

  <!-- NAVBAR -->
  <div class="nav-bar" id="menu-site">
  <div class="container">
    <div class="d-flex">
      <a class="navbar-brand p-2" href="#"><img src="/assets/logo/logo_web.png" width="115"
          class="d-inline-block align-top" alt=""></a>

      <nav class="navbar navbar-expand-lg navbar-light p-2" >
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav menu-align" id="navbar">
            <li class="nav-item">
              <a class="nav-link ml-3" id="menu-font" href="#" style="text-decoration: solid underline #FC4638;">+
                ORÇAMENTOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-3" id="menu-font" href="#">MENSAGENS</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="right-element ml-auto p-2">
        <a class="nav-link ml-3" id="menu-font" href="#">MEU PERFIL</a>
      </div>
    </div>
  </div>
</div>

  <!-- SECTION 1 -->
  <div class="container">

    <div class="row justify-content-center">
      <div class="order col-10 col-sm-10 col-md-10 col-lg-8 col-xl-8">
        <div class="client-info justify-content-center align-items-center">
          <h4>Julia Mendes</h4>
          <img class="image-fluid" src="/assets/elements/perfil-fundo-user.jpg" alt="">
          <p>Pintura | Republica-SP | On-line</p>
        </div>

        <div class="order-details">
          <h6>Onde você precisa de pintura?</h6>
          <p>Casa</p>

          <hr>

          <h6>O que precisa de pintura?</h6>
          <p>Interno</p>
          <p>Tetos</p>

          <hr>

          <h6>Precisa do serviço presencial ou online?</h6>
          <p>Online (profissional me auxilia por vídeo chamada)</p>

          <hr>


          <h6>Há mais alguma coisa que o prestador deverá saber?</h6>
          <p>Ola tudo bem ? tenho um pequeno cômodo com 4 paredes que
            precisam ser pintados, entre hoje e amanha com urgência, como sei que é um período curto preciso de um guia
            para compra de materiais e técnicas pois tentarei fazer o serviço sozinha.</p>
        </div>

        <div class="buttons d-flex justify-content-end">
          <button type="button" class="btn btn-md" id="pass-btn">
            <a href="">Passar</a>
          </button>
          <button type="button" class="btn btn-md" id="acept-btn">
            <a href="">Aceitar</a>
          </button>
        </div>
      </div>
    </div>



    <div class="row justify-content-end">
      <button type="button" class="btn btn-md ml-3" id="help-btn"><a href="">Precisa de ajuda?</a></button>
    </div>
  </div>
  <app-footer></app-footer>

</div>
