
<div class="container">

  <!-- CAROUSEL WEB -->
  <div id="carouselControls" class="carousel slide d-none d-sm-none d-md-block" data-ride="carousel">
    <div class="carousel-inner">
      <!-- SLIDER 1 -->
      <div class="carousel-item active">
        <div class="row justify-content-center">
          <div class="col-3"><img class="d-block w-100" src="assets/images/foto1.png" alt=""></div>
          <div class="col-3"><img class="d-block w-100" src="assets/images/foto2.png" alt=""></div>
          <div class="col-3"><img class="d-block w-100" src="assets/images/foto3.png" alt=""></div>
        </div>
      </div>
      <!-- END OF SLIDER 1 -->
      <!-- SLIDER 2 -->
      <div class="carousel-item">
        <div class="row justify-content-center">
          <div class="col-3"><img class="d-block w-100" src="assets/images/foto4.png" alt=""></div>
          <div class="col-3"><img class="d-block w-100" src="assets/images/foto5.png" alt=""></div>
          <div class="col-3"><img class="d-block w-100" src="assets/images/foto6.png" alt=""></div>
        </div>
      </div>
      <!-- END OF SLIDER 2 -->
      <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
        <span class="fas fa-chevron-circle-left fa-lg" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
        <span class="fas fa-chevron-circle-right fa-lg" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
      </a>
    </div>
  </div>
  <!-- END OF CAROUSEL WEB -->

  <!-- CAROUSEL SM  -->
    <div id="carouselControls" class="carousel slide d-none d-sm-block d-md-none" data-ride="carousel">
      <div class="carousel-inner">
        <!-- SLIDER 1 -->
        <div class="carousel-item active">
          <div class="row justify-content-center">
            <div class="col-5"><img class="d-block w-100" src="assets/images/foto1.png" alt=""></div>
            <div class="col-5"><img class="d-block w-100" src="assets/images/foto2.png" alt=""></div>
          </div>
        </div>
        <!-- SLIDER 2 -->
        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-5"><img class="d-block w-100" src="assets/images/foto3.png" alt=""></div>
            <div class="col-5"><img class="d-block w-100" src="assets/images/foto4.png" alt=""></div>
          </div>
        </div>
        <!-- SLIDER 3 -->
        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-5"><img class="d-block w-100" src="assets/images/foto5.png" alt=""></div>
            <div class="col-5"><img class="d-block w-100" src="assets/images/foto6.png" alt=""></div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Próximo</span>
        </a>
      </div>
    </div>
  <!-- END OF CAROUSEL SM -->

  <!-- CAROUSEL XS  -->
    <div id="carouselControls" class="carousel slide d-block d-sm-none" data-ride="carousel">
      <div class="carousel-inner">
        <!-- SLIDER 1 -->
        <div class="carousel-item active">
          <div class="row justify-content-center">
            <div class="col-9"><img class="d-block w-100" src="assets/images/foto1.png" alt=""></div>
          </div>
        </div>
        <!-- SLIDER 2 -->
        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-9"><img class="d-block w-100" src="assets/images/foto2.png" alt=""></div>
          </div>
        </div>
        <!-- SLIDER 3 -->
        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-9"><img class="d-block w-100" src="assets/images/foto3.png" alt=""></div>
          </div>
        </div>
        <!-- SLIDER 4 -->
        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-9"><img class="d-block w-100" src="assets/images/foto4.png" alt=""></div>
          </div>
        </div>
        <!-- SLIDER 5 -->
        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-9"><img class="d-block w-100" src="assets/images/foto5.png" alt=""></div>
          </div>
        </div>
        <!-- SLIDER 6 -->
        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-9"><img class="d-block w-100" src="assets/images/foto6.png" alt=""></div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Próximo</span>
        </a>
      </div>
    </div>

  <!-- END OF CAROUSEL XS -->
</div>
