.body {
  background: url("src/assets/Illustrations/FUNDO_HOME.png"),
    url("src/assets/Elements/elemento_azul.png"),
    url("src/assets/Elements/elemento_laranja-crop.png");
  background-repeat: no-repeat;

  background-size: 100vw, 28%, 33%;

  background-position: 100% 8%, 0% 3%, top right;
}

/* navbar */
#menu-site {
  border-bottom: 1px solid #70707031;
  background-color: #ffffff00;
}

#contractor-btn {
  border-radius: 40px;
  background-color: #fc4638;
  /* margin-left: 10%; */
}

#contractor-btn a {
  color: rgb(255, 255, 255);

  font-weight: bold;
  font-family: "Titillium Web", sans-serif;
  text-decoration: none;
}

#menu-font {
  font-weight: bold;
  font-family: "Titillium Web", sans-serif;
}

.navbar-toggler {
  color: #fc4638;
  border: none;
}

@media (max-width: 990px) {
  .right-element {
    margin-left: auto;
  }

  .navbar-brand img {
    content: url("/assets/logo/logo_mobile.png");
    width: 50px;
  }
}

@media (min-width: 991px) {
  .logo-navbar {
    margin-right: auto;
  }

  .right-element {
    margin-left: none;
  }
}
/* FIM DO NAVBAR */


/* H1 e BUSCA */
.section1 {
  margin-bottom: 30%;
}

#title {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: bold;
  color: #305e92;
}

#subtitle,
#input-size {
  width: 50%;
}

#subtitle {
  font-weight: normal;
  font-family: "Titillium Web", sans-serif;
  color: #707070;
}

#search-btn {
  border-radius: 40px;
  background-color: #fc4638;
  margin-left: 10%;
}

#search-btn a {
  color: rgb(255, 255, 255);

  font-weight: bold;
  font-family: "Titillium Web", sans-serif;
  text-decoration: none;
}

#home-label {
  border: 1.5px solid #707070;
}

/* SECTION 2 */
.section2 {
  margin-top: 40%;
  margin-bottom: 8%;
}

.card-body {
  width: 80%;
}

.card-text {
  color: #707070;
  font-weight: normal;
  font-family: "Titillium Web", sans-serif;
}

.card-s2 {
  align-items: center;
}

.how-works {
  align-items: baseline;
}

/* SECTION 4 - AVALIATIONS */

.section4 {
  margin-top: 8%;
  margin-bottom: 8%;
}

.card-avaliation {
  box-shadow: 0px 10px 6px #00000024;
  border: 2px solid #707070;
  border-radius: 26px;
  padding: 3% 3%;
  /* width: 50%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
}

.card-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 5%;
}

.card-content p {
  font-family: "Titillium Web", sans-serif;
  font-weight: normal;

  padding-left: 2%;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

#li-icon {
  list-style-type: disc;
  background-color: red;
}

.card-carrousel {
  border: 1px solid black;
  margin: 1%;
  box-shadow: 0px 10px 6px #00000024;
  border: 2px solid #707070;
  border-radius: 26px;
  padding: 3% 3%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
}

/* SECTION 5 - JOIN US */
.section5 {
  margin-top: 8%;
  margin-bottom: 8%;
}

.join-content h2,
p {
  color: #8b8a8a;
}

.join-content h2 {
  letter-spacing: -0.51px;
  font-family: "Trebuchet MS", sans-serif;
  font-weight: bold;
  text-align: center;
}

.join-content p {
  font-family: "Titillium Web", sans-serif;
  font-weight: normal;

  text-align: center;
}

.join-content a {
  text-decoration: none;
  color: white;

  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
}

.join-btn {
  border-style: none;
  border-radius: 55px;
  width: fit-content;
  padding: 3% 6%;
  background-color: #fc4638;
  margin-top: 5%;
}

/* SECTION 6 - FOOTER */
.section6 {
  background-color: #fafafa;
  padding: 5% 5%;
}

.footer p {
  font-family: "Titillium Web", sans-serif;
  font-weight: normal;

  line-height: 15px;
  text-align: center;
  letter-spacing: -0.2px;
}

@media (min-width: 1420px) {
  .body {
    background: url("src/assets/Illustrations/FUNDO_HOME.png"),
      url("src/assets/Elements/elemento_azul.png"),
      url("src/assets/Elements/elemento_laranja-crop.png");
    background-repeat: no-repeat;

    background-size: 100vw, 33%, 33%;

    background-position: 100% 8%, 0% 4%, top right;
  }

  h1 {
    font-size: 3.5rem;
  }

  h4 {
    font-size: 2rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  #subtitle {
    width: 60%;
  }
  #input-size {
    width: 50%;
  }
}

@media (max-width: 1106px) {
  .body {
    background: url("src/assets/Illustrations/FUNDO_HOME.png"),
      url("src/assets/Elements/elemento_azul.png"),
      url("src/assets/Elements/elemento_laranja-crop.png");
    background-repeat: no-repeat;

    background-size: 100vw, 33%, 33%;

    background-position: 100% 12%, 0% 4%, top right;
  }

  .card-s2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 770px) {
  #subtitle,
  #input-size {
    width: 90%;
  }

  .body {
    background: url("src/assets/Illustrations/FUNDO_HOME.png"),
      url("src/assets/Elements/elemento_azul.png"),
      url("src/assets/Elements/elemento_laranja-crop.png");
    background-repeat: no-repeat;

    background-size: 100vw, 33%, 33%;

    background-position: 100% 12%, 0% 4%, top right;
  }

  .section2 {
    margin-top: 50%;
  }
}

@media (max-width: 618px) {
  .body {
    background: url("src/assets/Illustrations/FUNDO_HOME.png"),
      url("src/assets/Elements/elemento_azul.png"),
      url("src/assets/Elements/elemento_laranja-crop.png");
    background-repeat: no-repeat;

    background-size: 100vw, 33%, 33%;

    background-position: 100% 14%, 0% 4%, top right;
  }
}

@media (max-width: 575px) {
  .body {
    background: url("src/assets/Illustrations/FUNDO_HOME_crop.png"),
      url("src/assets/Elements/elemento_azul.png"),
      url("src/assets/Elements/elemento_laranja-crop.png");
    background-repeat: no-repeat;

    background-size: 100vw, 33%, 33%;

    background-position: 100% 13%, 0% 4%, top right;
  }

  .section1 {
    margin-bottom: 60%;
  }

  h2 {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  .section2 {
    margin-top: 70%;
  }
}

@media (max-width: 414px) {
  h1 {
    font-size: 1.5rem;
    text-align: left;
  }

  h4 {
    font-size: 1.3rem;
    text-align: left;
  }
}
