<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img class="img-fluid" src="assets/Illustrations/junte-se-a-nos.png" alt="">
    </div>

    <div
      class="col-lg-6 col-md-6 col-sm-12 d-flex flex-column justify-content-center align-items-center join-content mt-5">
      <h2>É PRESTADOR DE SERVIÇOS?</h2>
      <h2>JUNTE-SE A NÓS!</h2>
      <P>Inscreva-se gratuitamente para encontrar novos clientes</P>
      <button type="button" class="btn btn-lg join-btn"><a href="">Sou Prestador</a></button>
    </div>
  </div>
</div>
