/* You can add global styles to this file, and also import other style files */
/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: auto 100vh;
  font-family: 'TrebuchetMS', fallback, sans-serif;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}




