  <div class="container">
    <div class="row mt-5 how-works">

      <!-- CARD 1 -->
      <div class="col-sm card-s2">
        <div class="card mt-4" style="width: 16rem; border-style: none;">
          <img class="card-img-top" src="assets/Illustrations/home_1.png" alt="">
        </div>
        <div class="card-body">
          <p class="card-text">Use a barra de pesquisa para escolher o serviço que
            precisa no momento! Forneceremos uma lista de prestadores que estão pertinho!
          </p>
        </div>
      </div>

      <!-- CARD 2 -->
      <div class="col-sm card-s2">
        <div class="card mt-4" style="width: 16rem; border-style: none;">
          <img class="card-img-top" src="assets/Illustrations/home_2.png" alt="">
        </div>
        <div class="card-body">
          <p class="card-text">Selecione o prestador de interesse, verifique seu perfil e abra
            solicitação de orçamento clicando em contratar!</p>
        </div>
      </div>

      <!-- CARD 3 -->
      <div class="col-sm card-s2">
        <div class="card mt-4" style="width: 16rem; border-style: none;">
          <img class="card-img-top" src="assets/Illustrations/home_3.png" alt="">
        </div>
        <div class="card-body">
          <p class="card-text">Receba o orçamento do prestador e prossiga com a sua negociação.
            Você pode ESCOLHER ter seu serviço online ou presencialmente!</p>
        </div>
      </div>

    </div>
  </div>
